body {
  background-color: rgb(0,0,0);

}

.nav{
  display:inline-block;
  width:100%;
  border:1px solid blue;
  color:rgb(255,255,255);
  text-align: left;
}
.navitem{
  display: inline-block;
  margin-right:50px;
}



.App-link {
  color: #61dafb;
}
